@import 'reset';
@import 'variables';
@import 'typography';
@import 'mixins';

::-moz-selection {
  background: none;
  color: white;
}

::selection {
  background: none;
  color: white;
}

html {
  scroll-behavior: smooth;
  font-size: 110%;
}

body {
  font-family: $primary-font-family;
}
